.quantity-control {
    width: 100%;
    cursor: pointer;
   
   
    
  
  }
  
  .quantity-btn {
    font-size: 20px;
    font-weight: bold;
   
  }
  
  
  
  .quantity {
    font-size: 22px;
    font-weight: bold;
  }
  